* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}
html,
body{
    height: 100%;
    width: 100%;
    background: #000;
}
body{
    overflow-x: hidden;
}
#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg);
    background-size:cover;
    background-position: center;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: #fff;
}
#nav h2{
    font-size: 30px;
}
#nav i{
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}
#full{
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.348);
    top: 0;
    right: -40%;
    backdrop-filter: blur(10px);
    padding: 150px 60px;
}
#full h4{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
}
#full i{
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: #ffffff68;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
}