* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}
html,
body{
    height: 100%;
    width: 100%;
    background: #000;
}
body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 100px;
    overflow: hidden;
}
h1 span{
    display: inline-block;
}