/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
}

html, body {
    width: 100%;
    min-height: 100%;
    background: white;
}
body{
    overflow-x: hidden;
}
section {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

/* ---------------- NAVIGATION ---------------- */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 70px;
}

.part2 {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav h1 {
    font-size: 45px;
    display: flex;
    gap: 10px;
}

nav h1 i {
    rotate: 45deg;
    font-size: 55px;
    display: inline-block;
}

nav h4 {
    font-size: 25px;
    font-weight: 500;
}

nav button {
    padding: 15px 20px;
    font-size: 22px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 600;
    border: 1px solid #000;
    cursor: pointer;
}

/* ---------------- HERO CENTER ---------------- */

.center {
    width: 100%;
    display: flex;
    padding: 40px 70px;
    gap: 20px;
}

.center-part1 {
    width: 42%;
}

.center-part1 h1 {
    line-height: 1.2;
    font-size: 70px;
}

.center-part1 p {
    font-size: 19px;
    font-style: oblique;
    width: 95%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.center-part1 button {
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding: 18px 30px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.center-part2 {
    width: 58%;
    position: relative;
}

.center-part2 img {
    position: absolute;
    height: 100%;
    right: 0;
}

/* ---------------- BRAND LOGOS ---------------- */

.section1bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 90px;
    flex-wrap: wrap;
}

.section1bottom img {
    height: 50px;
}

/* ---------------- SERVICES SECTION ---------------- */

.section2 .services {
    display: flex;
    align-items: center;
    padding: 40px 90px;
    gap: 40px;
}

.services h3 {
    background-color: #9AE975;
    font-weight: 500;
    padding: 5px 10px 0 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.services p {
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
}
.container{
    height: 86%;
    width: 100%;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}
.elem{
    flex-shrink: 0;
    height: 300px;
    width: 45%;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 0px 10px 0px black;
    padding: 20px;
    display: flex;
}
.elem_part1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.elem_part2{
    height: 100%;
    width: 50%;
}
.elem_part2 img{
    height: 100%;
}
.elem_part1 h2{
    font-size: 25px;
    background-color: #9AE975;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 60%;
    border-radius: 10px;
    padding: 0px 2px;
}
.elem_part1 h4{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    gap: 5px;
}
.elem_part1 h4 i{
    padding: 10px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    font-weight: 600;
}
.black{
    background-color: black;
}
