* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
}
html,
body{
    height: 100%;
    width: 100%;
    background: white;
}
section{
    height: 100vh;
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 70px;
}
.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
nav h1{
    font-size: 45px;
    display: flex;
    gap: 10px ;
}
nav h1 i{
    rotate: 45deg;
    display: inline-block;
    font-size: 55px;
}
nav h4{
    font-size: 25px;
    font-weight: 500;
}
nav button{
    padding: 15px 20px;
    font-size: 22px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 600;
    border: 1px solid #000;
}
.center{
    height: 85%;
    width: 100%;
    display: flex;
    padding: 40px 70px;
}
.center-part1{
 
    height: 100%;
    width: 42%;
}

.center-part1 h1{
    line-height: 1.2;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.center-part1 p{
    font-size: 19px;
    font-style: oblique;
    width: 95%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.center-part1 button{
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding: 18px 30px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
.center-part2{
    height: 100%;
    width: 58%;
    position: relative;
}
.center-part2 img{
    position: absolute;
    height: 100%;
}
.section1bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 90px;
}
.section1bottom img{
    height: 50px;
}
.section2 .services{
    display: flex;
    align-items: center;
    padding: 20px 90px;
    justify-content: flex-start;
}
.services h3{
    background-color: #9AE975;
    font-weight: 500;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 20px;
    gap: 10px;
}
.services p{
    width: 30%;
    font-size: 10px;
    font-weight: 500;
}